/*Include new font*/
@font-face {
  font-family: solaimanlipi;
  src: url(../fonts/SolaimanLipi_22-02-2012.ttf);
}
/*Include new font*/
.bg_grad_5 {
    background: -webkit-linear-gradient(235deg, rgba(255,255,255,0.0)10%, rgba(255,255,255,0.2)20%, rgba(19,27,67,1)70%), -webkit-linear-gradient(305deg, rgba(150,150,255,0.0)80%, rgba(60,111,162,0.8)20%), -webkit-linear-gradient(325deg, rgba(255,255,255,0.0)70%, rgba(60,111,190,0.7)30%), -webkit-linear-gradient(290deg, rgba(60,111,180,0.9)60%, rgba(60,111,190,0.8)40%) !important;
    background: -o-linear-gradient(235deg, rgba(255,255,255,0.0)10%, rgba(255,255,255,0.2)20%, rgba(19,27,67,1)70%), -o-linear-gradient(305deg, rgba(150,150,255,0.0)80%, rgba(60,111,162,0.8)20%), -o-linear-gradient(325deg, rgba(255,255,255,0.0)70%, rgba(60,111,190,0.7)30%), -o-linear-gradient(290deg, rgba(60,111,180,0.9)60%, rgba(60,111,190,0.8)40%) !important;
    background: linear-gradient(-145deg, rgba(255,255,255,0.0)10%, rgba(255,255,255,0.2)20%, rgba(19,27,67,1)70%), linear-gradient(145deg, rgba(150,150,255,0.0)80%, rgba(60,111,162,0.8)20%), linear-gradient(125deg, rgba(255,255,255,0.0)70%, rgba(60,111,190,0.7)30%), linear-gradient(-200deg, rgba(60,111,180,0.9)60%, rgba(60,111,190,0.8)40%) !important;
}
.bg_red_gradient_site {
    background: -webkit-gradient(linear,left bottom, left top,from(#be1e2d),to(#9c1c1a)) !important;
    background: -webkit-linear-gradient(bottom,#be1e2d,#9c1c1a) !important;
    background: -o-linear-gradient(bottom,#be1e2d,#9c1c1a) !important;
    background: linear-gradient(0deg,#be1e2d,#9c1c1a) !important;
}
.bg_red_white_2 {
    background: -webkit-linear-gradient(315deg, #ddaaaa 15%, #ffffff 70%, #992233 15%) !important;
    background: -o-linear-gradient(315deg, #ddaaaa 15%, #ffffff 70%, #992233 15%) !important;
    background: linear-gradient(135deg, #ddaaaa 15%, #ffffff 70%, #992233 15%) !important;
}
.sf-column-3{
    -webkit-column-count:3 !important;
    column-count:3 !important;
}
.lnk-3-2 {
    text-decoration: none;
    display: block;
    background: -webkit-linear-gradient(45deg,#131b43,#242c54,#2aabd2);
    background: -o-linear-gradient(45deg,#131b43,#242c54,#2aabd2);
    background: linear-gradient(45deg,#131b43,#242c54,#2aabd2);
    margin-bottom: 1px;
    line-height: 50px;
    height: 50px;
    color: #ffffff;
    -webkit-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
    font-size: 19px;
    min-font-size: 16px;
}
.lnk-3-2:hover {
    text-decoration: none;
    color: #ffffff;
    -webkit-transform: translate3d(6px, 0, -10px);
    transform: translate3d(6px, 0, -10px);
}
.lnk-3-1 {
    text-decoration: none;
    display: block;
    background: -webkit-linear-gradient(135deg,#131b43,#242c54,#2aabd2);
    background: -o-linear-gradient(135deg,#131b43,#242c54,#2aabd2);
    background: linear-gradient(-45deg,#131b43,#242c54,#2aabd2);
    margin-bottom: 1px;
    line-height: 50px;
    height: 50px;
    color: #ffffff;
    -webkit-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
    font-size: 19px;
    min-font-size: 16px;
}
.lnk-3-1:hover {
    text-decoration: none;
    color: #ffffff;
    -webkit-transform: translate3d(-6px, 0, 10px);
    transform: translate3d(-6px, 0, 10px);
}
.bg_blue_blue {
    background: -webkit-linear-gradient(315deg, #344599 70%, #3456aa 30%) !important;
    background: -o-linear-gradient(315deg, #344599 70%, #3456aa 30%) !important;
    background: linear-gradient(135deg, #344599 70%, #3456aa 30%) !important;
}
.bg_white_gray {
    background: -webkit-linear-gradient(45deg, #ffffff 50%, #d0d0d0 20%) !important;
    background: -o-linear-gradient(45deg, #ffffff 50%, #d0d0d0 20%) !important;
    background: linear-gradient(45deg, #ffffff 50%, #d0d0d0 20%) !important;
}
.bg_gray_gradient_1 {
    background: -webkit-gradient(linear,left bottom, left top,from(#d0d0d0),to(#e0e0e0)) !important;
    background: -webkit-linear-gradient(bottom,#d0d0d0,#e0e0e0) !important;
    background: -o-linear-gradient(bottom,#d0d0d0,#e0e0e0) !important;
    background: linear-gradient(0deg,#d0d0d0,#e0e0e0) !important;
}
.mission_head {
    background: -webkit-linear-gradient(45deg,rgba(255,255,255,0),rgba(0,0,0,0),rgba(0,0,0,1));
    background: -o-linear-gradient(45deg,rgba(255,255,255,0),rgba(0,0,0,0),rgba(0,0,0,1));
    background: linear-gradient(45deg,rgba(255,255,255,0),rgba(0,0,0,0),rgba(0,0,0,1));
}
.mission_head_child {
    background: -webkit-linear-gradient(45deg,rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,1));
    background: -o-linear-gradient(45deg,rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,1));
    background: linear-gradient(45deg,rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,1));
    font-size: 7em;
}
.vision_head {
    background: -webkit-linear-gradient(135deg,rgba(255,255,255,0),rgba(0,0,0,0),rgba(0,0,0,1));
    background: -o-linear-gradient(135deg,rgba(255,255,255,0),rgba(0,0,0,0),rgba(0,0,0,1));
    background: linear-gradient(-45deg,rgba(255,255,255,0),rgba(0,0,0,0),rgba(0,0,0,1));
    border-radius: 200px 0 0 200px;
    padding: 5px 0 5px 5px;
    display: block;
    text-align: left;
}
.vision_head_child {
    background: -webkit-linear-gradient(135deg,rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,1));
    background: -o-linear-gradient(135deg,rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,1));
    background: linear-gradient(-45deg,rgba(255,255,255,0),rgba(255,255,255,1),rgba(255,255,255,1));
    border-radius: 200px 0 0 200px;
    padding: 10px 20px;
    display: block;
    font-size: 7em;
}
/*.bg_img_10_1 {
    background: -webkit-radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0, -webkit-radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px, -webkit-radial-gradient(hsla(0, 30%, 100%, 0.8) 20%, hsla(0, 20%, 100%, 0)) 50px 0, -webkit-radial-gradient(hsla(0, 30%, 100%, 0.8) 20%, hsla(0, 20%, 100%, 0)) 0 50px, -webkit-radial-gradient(hsla(0, 20%, 100%, 1) 35%, hsla(0, 20%, 100%, 0) 60%) 50px 0, -webkit-radial-gradient(hsla(0, 20%, 100%, 1) 35%, hsla(0, 20%, 100%, 0) 60%) 100px 50px, -webkit-radial-gradient(hsla(0, 15%, 100%, 0.7), hsla(0, 20%, 100%, 0)) 0 0, -webkit-radial-gradient(hsla(0, 15%, 100%, 0.7), hsla(0, 20%, 100%, 0)) 50px 50px, -webkit-linear-gradient(45deg, hsla(0, 20%, 100%, 0) 49%, hsla(0, 0%, 100%, 1) 50%, hsla(0, 20%, 100%, 0) 70%) 0 0, -webkit-linear-gradient(135deg, hsla(0, 20%, 100%, 0) 49%, hsla(0, 0%, 100%, 1) 50%, hsla(0, 20%, 100%, 0) 70%) 0 0;
    }*/
.bg_img_4 {
    background-color: #123456;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255,255,255,.07)), color-stop(50%, transparent)),
    -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255,255,255,.13)), color-stop(50%, transparent)),
    -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, rgba(255,255,255,.17))),
    -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(50%, rgba(255,255,255,.19)));
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,.07) 50%, transparent 50%),
    -webkit-linear-gradient(left, rgba(255,255,255,.13) 50%, transparent 50%),
    -webkit-linear-gradient(left, transparent 50%, rgba(255,255,255,.17) 50%),
    -webkit-linear-gradient(left, transparent 50%, rgba(255,255,255,.19) 50%);
    background-image: -o-linear-gradient(left, rgba(255,255,255,.07) 50%, transparent 50%),
    -o-linear-gradient(left, rgba(255,255,255,.13) 50%, transparent 50%),
    -o-linear-gradient(left, transparent 50%, rgba(255,255,255,.17) 50%),
    -o-linear-gradient(left, transparent 50%, rgba(255,255,255,.19) 50%);
    background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
    linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
    linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
    background-size: 13px, 29px, 37px, 53px;
}
.igp_img{
    width: 183px;
    height: 183px;
    border-radius: 106px;
    object-fit: cover;
}
.bg_gray_gradient_2 {
    background: -webkit-gradient(linear,left bottom, left top,from(#ffffff),to(#d0d0d0)) !important;
    background: -webkit-linear-gradient(bottom,#ffffff,#d0d0d0) !important;
    background: -o-linear-gradient(bottom,#ffffff,#d0d0d0) !important;
    background: linear-gradient(0deg,#ffffff,#d0d0d0) !important;
}
.bg_gray_gradient {
    background: -webkit-gradient(linear,left bottom, left top,from(#d0d0d0),to(#ffffff)) !important;
    background: -webkit-linear-gradient(bottom,#d0d0d0,#ffffff) !important;
    background: -o-linear-gradient(bottom,#d0d0d0,#ffffff) !important;
    background: linear-gradient(0deg,#d0d0d0,#ffffff) !important;
}
.bg_gray_white_gray {
    background: -webkit-linear-gradient(45deg, #e0e0e0 40%, #ffffff 30%, #d0d0d0) !important;
    background: -o-linear-gradient(45deg, #e0e0e0 40%, #ffffff 30%, #d0d0d0) !important;
    background: linear-gradient(45deg, #e0e0e0 40%, #ffffff 30%, #d0d0d0) !important;
}
.bg_blue_blue {
    background: -webkit-linear-gradient(315deg, #344599 70%, #3456aa 30%) !important;
    background: -o-linear-gradient(315deg, #344599 70%, #3456aa 30%) !important;
    background: linear-gradient(135deg, #344599 70%, #3456aa 30%) !important;
}
.bg_grad_5 {
    background: -webkit-linear-gradient(235deg, rgba(255,255,255,0.0)10%, rgba(255,255,255,0.2)20%, rgba(19,27,67,1)70%), -webkit-linear-gradient(305deg, rgba(150,150,255,0.0)80%, rgba(60,111,162,0.8)20%), -webkit-linear-gradient(325deg, rgba(255,255,255,0.0)70%, rgba(60,111,190,0.7)30%), -webkit-linear-gradient(290deg, rgba(60,111,180,0.9)60%, rgba(60,111,190,0.8)40%);
    background: -o-linear-gradient(235deg, rgba(255,255,255,0.0)10%, rgba(255,255,255,0.2)20%, rgba(19,27,67,1)70%), -o-linear-gradient(305deg, rgba(150,150,255,0.0)80%, rgba(60,111,162,0.8)20%), -o-linear-gradient(325deg, rgba(255,255,255,0.0)70%, rgba(60,111,190,0.7)30%), -o-linear-gradient(290deg, rgba(60,111,180,0.9)60%, rgba(60,111,190,0.8)40%);
    background: linear-gradient(-145deg, rgba(255,255,255,0.0)10%, rgba(255,255,255,0.2)20%, rgba(19,27,67,1)70%), linear-gradient(145deg, rgba(150,150,255,0.0)80%, rgba(60,111,162,0.8)20%), linear-gradient(125deg, rgba(255,255,255,0.0)70%, rgba(60,111,190,0.7)30%), linear-gradient(-200deg, rgba(60,111,180,0.9)60%, rgba(60,111,190,0.8)40%);
}

/*.slick-slide img {
    width: 100%;
    height: 305px;
    object-fit: contain;
}*/
.con-img img{
    width: 100%;
}
.slick-slide img {
    width: 100%;
    height: 305px;
    object-fit: cover;
}
@media screen and (min-width:1300px){
    div#nav2 div ul.navbar-nav li a {;
        padding: 0 14px 0 0 !important;
    }
}
@media screen and (min-width:1400px){
    .fr_lr {
        max-width: 1350px;
        /* width: 1384px; */
        margin: 0 auto;
    }
    .top-26vh {
    top: 12em;
    }
/*    .show_main {
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 1350px;
    }*/
/*    .top-185{
        top: 292px;
        right: unset!important;
    }*/
  .leftnavbox {
        right: 15px;
        top: 303px;
    }
  .rightnavbox{
      right: 15px!important;
  }
    div#nav2 div ul.navbar-nav li a {;
        padding: 0 14px 0 0 !important;
    }
}
/*============gov service link 30/5/2021============*/


.extra-link-image{
    width:100%;
}

 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
    .extra-link-image{
        width:70px;
    }
    .extra-link-list a {
        font-size: 12px !important;
        text-align: left;
       
    }
    .extra-link-list ul li {
        text-align: left;
    }

 }
 
 /* // Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) { 
    .extra-link-image{
        width:70px;
    }
    .extra-link-list a {
        font-size: 13px !important;
        text-align: left;
       
    }
    .extra-link-list ul li {
        text-align: left;
    }
 
 }

.extra-link-list ul li {
    list-style: none;
    margin-bottom: 5px;
}
.extra-link-list ul {
    padding-left: 0!important;
}
.extra-link-list a {
    font-size: 15px;
    color: #131b43;
    font-family: "solaimanlipi";
}
.link-box{
    padding: 15px;
    font-family: "solaimanlipi";
}

.link-box h1 {
    /* font-size: 20px!important; */
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 4px;
}
/*============gov service link 30/5/2021============*/
/*========Add Women Cyber Support Start 06/20/2021==========*/

.women-title{
    font-size:19px;
    color:#ffffff;
}
.women-title:hover{
    color:wheat;
}
.cyber-w-img img{
    width:125%;
    margin-top:10px;
    
}
 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
    .cyber-w-img img{
        width:50%;
       
        
    }

 }
 
 /* // Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) { 
    .cyber-w-img img{
        width:50%;
       
        
    }
 
 }
.csforw> .row{
margin-right: 0!important;
margin-left: 0!important;
margin-top: 0!important;
margin-bottom: 0!important;
}
   .csforw{
   background: rgb(25,251,234)!important;
background: linear-gradient(341deg, rgba(25,251,234,1) 0%, rgba(29,38,79,1) 100%)!important;
}
#cyber-email{
    color:floralwhite;
    margin-top: 10px;
    font-size:11px!important;
}
.women-link a{
    color:#ffffff;
    font-size: 15px;
    text-align:left!important;
    
}
/*========Add Women Cyber Support end 06/20/2021==========*/

.officers-table-design{
    border: 3px solid rgb(99, 76, 218);
    
  }
  .officers-table-design td{
    /* border: 1px solid #344599; */
    border: none !important;
    padding-left: 50px !important;
   
  }
  .officers-table-design th {
    /* border: 1px solid #344599; */
    border: none !important;
  }

/* Model css */
  .black_overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #00000099;
    z-index: 10000;
}

.content_overlay {
    position: fixed;
    width: 55%;
    height: 90%;
    left: 22%;
    top: 5%;
    transition: all .4s;
    z-index: 10000;
}

.close_block {

    background-color: #ff1100;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    right: -24px;
    top: 3px;
    cursor: pointer;
    z-index: 999;
    border: 4px solid #fff;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-right {
    float: right !important;
}

.cur_content_block {
    max-height: 450px;
}

.popupImage {
    width: 100%;
    position: absolute;
    border-radius: 5px;
    border: 5px solid #fff;
}

.autoCloseMSG {
    text-align: center;
    float: right;
    color: #fff;
    position: absolute;
    right: -350px;
    top: -25px;
}

@media only screen and (max-width: 480px) {
    .popupImage {
        height: 300px;
        width: 300px;
        border-radius: 5px;
        border: 5px solid #fff;
        position: relative;
    }

    .content_overlay {
        left: 14%;
        top: 20%;
    }

    .close_block {
        right: -106px;
        position: absolute;
        top: 0;
        height: 24px;
        width: 24px;
        border-radius: 50%;
    }

    .autoCloseMSG {
        right: 0px;
        top: 100px;
        position: relative;
    }
}

/*shakowat Blink eff css*/

.blinking_effect{
 text-align: center;
 font-family: Verdana;
 color: #0c3ad1 !important;
 animation: blink-text 1.9s linear infinite;
 font-size: 1em;
 text-decoration: none;
}
@keyframes blink-text{
 0% {
  opacity: 0;
 }
 50% {
  opacity: 1;
 }
 100% {
  opacity: 0;
 }
}
